.main {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;

    position: relative;
    background-color: #f2f1eb;
    z-index: 2;
}

.body {
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
