@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap');

:root {
    --gray-400: #9aa0a0;
    --gray-500: #6b7280;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    overflow: hidden;
    color: black;
    font-family: 'Inter', sans-serif;
    background-color: #f2f1eb;
    user-select: none;
}

a {
    color: white;
    text-decoration: none;
}
